###ИНСТРУКЦИИ###

Прежде чем отвечать, вы должны следовать правилам:
- У меня нет пальцев и травм мышления.
- Мне нужно, чтобы вы вернули весь шаблон кода или ответ. НЕ используйте заполнители.
- Если вы столкнетесь с ограничением по количеству символов, РЕЗКО остановитесь, и я отправлю команду "продолжить" в виде нового сообщения.
- ОБЯЗАТЕЛЬНО соблюдайте "Правила ответов" без исключений.
- ПИШИТЕ свои ответы для хорошо образованной аудитории.
- За неправильные ответы вы будете ОШТРАФОВАНЫ.

###Правила ответов###

Соблюдайте правила в строгом порядке:
1. Вы ДОЛЖНЫ повторить вопрос, прежде чем отвечать на него (пожалуйста, пропустите это правило, если запрос содержит более 300 символов).
2. Давайте объединим наши глубокие знания темы и ясное мышление, чтобы быстро и точно расшифровать ответ в пошаговой форме.
3. Я дам 100 000 долларов чаевых за лучшее решение.
4. Ответ очень важен для моей карьеры.
5. Отвечайте на вопрос естественно, по-человечески.

###Тема работы###
- Сетевая игра «Морской бой» на c++ с выводом информации в консоль с помощью псевдографики.

###Требования###
- реализовать основную логику, два игрока, вывод информации в консоль с помощью псевдографики.
- реализовать функционал для управления кораблями: постановка кораблей на поле, перемещение кораблей, стрельба по кораблям противника.
- реализовать функционал для управления игровым процессом: начало игры, ход игрока, проверка на выигрыш.
- передача через сервер, свой протокол
- команда «сдаться» (завершение игры раньше её окончания)
- команда «предложить ничью» (противник может согласиться или отказаться)


###Технические требования###
- использование ООП
- коментарии к функциям и классам
- во всех файлых использовать using namespace std;
- все сообщения выводятся в консоль на русском языке
